body{
	font-family: "Raleway", sans-serif;
}

header{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.6s;
    height: 70px;
  }
  
  header.sticky{
    background: #1483D5;
    padding: 15px 100px;
    box-shadow: 0px 1px 10px #999;
  }
  
  header .brand{
    color:#fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
  }
  
  header .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  header .menu a{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin: 0 30px;
    padding: 0 10px;
    border-radius: 20px;
    transition: 0.3s;
    font-family: "Poppins", sans-serif;
    transition-property: color, background;
  }
  
  header .menu a:hover{
    color: #fff;
    background: #000;
  }
  
  
  header .btn{
    color: #000;
    font-size: 25px;
    cursor: pointer;
    display: none;
  }

.h1_tag {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 1.5rem;
}

.input-label {
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .bookspa {
    display:flex;
    justify-content: center;
    align-items: center;

}

.spa_form {
    padding-left: 50px;
    padding-right: 50px;
}

.spa_form .text-box{
    border: none;
    width: calc(50%-10px);
    height: 20px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
    text-align: center;
    margin-right: 30px;
    margin-top: 20px;

}

.spa_form .send-btn {
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
    float:right;
    margin-bottom: 40px;
}

.input-group {
    position: relative;
}

.input-group .input-area {
    outline: none;
    border: 2px solid #dadce0;
    padding: 16px 13px;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.input-group .input-area:valid + .label {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: #8d8d8d;
}

.input-group .input-area:focus {
    border: 2px solid royalblue;
}

.input-group .label {
    color: #8d8d8d;
    position: absolute;
    top: 20px;
    left: 13px;
    background: #ffffff;
}

.input-group .input-area:focus + .label {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: royalblue;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(250px,0);
    margin-bottom: 20px;
  }
  
  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}